body {
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  overflow: hidden;
}

#connectDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5vmin;
}

#mainDiv {
  display: none;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2.5vmin;
  padding: 2vmin;
  gap: 2vmin;
}

#tableDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  user-select: none;
}

#actionDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  user-select: none;
}

button {
  font-size: 3vmin;
}