body {
  background-color: hsl(0, 0%, 100%);
  margin: 0;
  overflow: hidden;
}

#connectDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5vmin;
}

#instructionDiv {
  display: none;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 5vmin;
  padding-left: 10vmin;
  padding-right: 10vmin;
  padding-top: 5vmin;
}

#canvasDiv {
  display: none;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  width: 100vw;
  height: 100vh;
}